<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="banner">
    <h1>Catalog Banner</h1>
  </header>

  <section class="catalog">
    {% for item in catalogData %}
      <div class="catalog-item">
        <img src={{item['Final Images Link']}} />
        <h1>Product Name </b>{{ item['Product Name'] }}</h1>
        <p><b>Fabric Composition</b> {{ item['Fabric Composition'] }}</p>
        <span><b>Style Code</b> {{ item['Style Code'] }}</Span>
        <span><b>Color</b> {{ item['Color'] }}</Span>
        <span><b>Size</b> {{ item['Size'] }}</Span>
        <span><b>Juno Price</b> {{ item['JUNO PRICE'] }}</span>
        <span><b>Price</b> ${{ item.MRP }}</span>
      </div>
    {% endfor %}
  </section>
</body>
</html>
